@inherits LayoutComponentBase

<PageTitle>SylexeWebApp</PageTitle>

<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>

<div class="page">
    <main>
        <RadzenLayout>
            <RadzenHeader>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                    <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
                    <RadzenLabel Text="Header" />
                </RadzenStack>
            </RadzenHeader>
            <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
                <RadzenPanelMenu>
                    <RadzenPanelMenuItem Text="Home" Icon="home" Path=""/>
                    <RadzenPanelMenuItem Text="Analyse" Icon="psychology" Path="Analyze"/>
                    <RadzenPanelMenuItem Text="Data" Icon="analytics" Path="FetchData"/>
                    <RadzenPanelMenuItem Text="History" Icon="assignment" Path="History"/>
                </RadzenPanelMenu>
                <div class="rz-p-4">
                    Sidebar
                </div>
            </RadzenSidebar>
            <RadzenBody>
                <div class="rz-p-4">
                    @Body
                </div>
            </RadzenBody>
            <RadzenFooter>
                Footer
            </RadzenFooter>
        </RadzenLayout>

    </main>
</div>

@code {
    bool sidebar1Expanded = false;
}