@page "/"

<PageTitle>Index</PageTitle>

<h1>SYLEXE</h1>

Sylexe est un outil d'analyse de vulnérabilités des conteneurs reposant sur la technologie fournis par Trivy.

<h2>Prérequis</h2>

Pour vous assurer du bon fonctionnement de Sylexe, vous devez vous assurer que les éléments suivants sont installés sur votre machine :

<ul>
    <li>Docker</li>
</ul>

<h2>Documentation</h2>

La documentation est disponible via ce lien : <a href="https://sylexe.mintlify.app">Documentation</a>

<h2>Concepteurs</h2>

Sylexe est un projet développé par des étudiants de l'Oteria Cyber School dans le cadre de la mission.